body {
    background: linear-gradient(to bottom right, #8c8d91, #627bb9, #252729);
}


.single-price {
    text-align: center;
    background: #161619;
    transition: .7s;
    margin-top: 50px;
    border-radius: 100px;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
}

.single-price h3 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    font-family: poppins;
    color: #fff;
}

.single-price h4 {
    font-size: 48px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 35px;
}

.single-price h4 span.sup {
    vertical-align: text-top;
    font-size: 25px;
}

.deal-top {
    position: relative;
    background: #f29203;
    font-size: 16px;
    text-transform: uppercase;
    padding: 50px 24px 0;
    transition: .7s;
    border-radius: 100px 100px 0 0;
}

.deal-bottom ul {
    margin: 0;
    padding: 0;
}

.deal-bottom ul li {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    margin-top: 16px;
    padding-top: 16px;
    list-style: none;
}

.btn-area a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #ffae00;
    padding: 8px 64px;
    margin-top: 32px;
    border-radius: 50px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
    transition: .7s;
}

.single-price:hover .deal-top {
    background: #ac5300;
}

.single-price:hover .deal-top h3 {
    color: #fff;
}

.single-price:hover .deal-top h4 {
    color: #fff;
}

.single-price:hover .btn-area a {
    background: #ff3300;
    color: #fff;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid #093e83;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.profile-description h2 {
    font-size: 2rem;
    margin-bottom: 0;
}

.profile-description p {
    margin-top: 5px;
}

.social-media-links .fa {
    font-size: 1.5rem;
    color: #000;
    transition: color 0.3s ease;
}

.social-media-links .fa:hover {
    color: #f70808;
}

.icon-space {
    margin: 0 10px;
}

.change-content-links a {
    text-decoration: none;
    color: #333;
    position: relative;
}

.change-content-links a:hover {
    color: #007bff;
}

.change-content-links a::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #007bff;
    transition: width 0.3s ease;
}

.change-content-links a:hover::before {
    width: 100%;
}

.display-5 {
    font-size: 2.5rem;
}

.custom-font {
    font-family: 'Poppins', sans-serif;
}

.text-body-emphasis {
    color: #007bff;
}

/* Additional Styles */
@media (max-width: 768px) {
    .navbar-nav {
        justify-content: center;
    }
}

.cover-photo {
    max-width: 1200px;
    /* Set a maximum width */
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.cover-photo {
    max-width: 1200px;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
}

.cover-photo-container {
    border: 4px solid #88b9cc;
}

.cover-photo img {
    max-width: 100%;
    height: auto;
    display: block;
}

.single-price.basic-background {
    background-image: url('pix/1.jpg');
    background-size: cover;
    background-position: center;
}

.single-price {
    position: relative;
    overflow: hidden;
}

.single-price img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .single-price {
        background-size: cover;
        background-position: center;
    }
}